.u-section-1 {
    background-image: url("./src/images/bg-1.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }
  
  .u-section-1 .u-group-1 {
    width: 870px;
    min-height: 398px;
    margin: 100px auto -5px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin: 86px 10px 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 145px;
    height: 15px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: 20px auto 0;
    padding: 15px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 648px;
    }
  
    .u-section-1 .u-group-1 {
      width: 795px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 29px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 143px;
      height: 19px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 16px;
      margin-bottom: 28px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 594px;
    }
  
    .u-section-1 .u-group-1 {
      width: 689px;
      min-height: 335px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
      margin-top: 27px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-1 {
      width: 141px;
      height: 22px;
      margin-top: 22px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 430px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 311px;
      margin-top: 115px;
      margin-bottom: 4px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 143px;
      height: 26px;
      margin-left: 9px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 9px;
      margin-left: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 489px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 374px;
      margin-bottom: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
      margin-top: 86px;
    }
  
    .u-section-1 .u-image-1 {
      width: 142px;
      height: 29px;
      margin-left: 3px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 20px;
      margin-left: 8px;
    }
  }.u-section-2 {
    min-height: 177px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 176px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-bottom: 0;
  }
  
  .u-section-2 .u-text-1 {
    margin: 52px 20px 0 0;
  }
  
  .u-section-2 .u-image-1 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 176px;
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-bottom: 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 52px 20px 0 0;
  }
  
  .u-section-2 .u-image-2 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 176px;
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-bottom: 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 52px 20px 0 0;
  }
  
  .u-section-2 .u-image-3 {
    width: 103px;
    height: 15px;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 {
      min-height: 211px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 210px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 16px;
      padding-top: 30px;
    }
  
    .u-section-2 .u-text-1 {
      position: relative;
      margin-top: 3px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-image-1 {
      width: 85px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 210px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 16px;
      padding-top: 30px;
    }
  
    .u-section-2 .u-text-2 {
      position: relative;
      margin-top: 21px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-image-2 {
      width: 85px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 210px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 16px;
      padding-top: 30px;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
      margin-top: 3px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-image-3 {
      width: 85px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 {
      min-height: 194px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 111px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-1 {
      width: 65px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 111px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-2 {
      width: 65px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 111px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-image-3 {
      width: 65px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 {
      min-height: 482px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 250px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .u-section-2 .u-image-1 {
      width: 119px;
      height: 35px;
      margin-left: auto;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 250px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .u-section-2 .u-image-2 {
      width: 119px;
      margin-left: auto;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 250px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .u-section-2 .u-image-3 {
      width: 119px;
      height: 26px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 {
      min-height: 452px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 6px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-1 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 6px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-2 {
      width: 126px;
      height: 22px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 6px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-3 {
      width: 126px;
      height: 22px;
    }
  }.u-section-3 {
    background-image: url("src/images/c81d1bdb4c7adff693638f4d62d438ce.png");
    background-position: 50% 50%;
    
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 65px auto 10px 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    background-image: none;
    min-height: 560px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 109px 14px 0 26px;
  }
  
  .u-section-3 .u-image-1 {
    width: 144px;
    height: 4px;
    margin: 20px auto 0 26px;
  }
  
  .u-section-3 .u-text-2 {
    margin: 40px 14px 0 26px;
  }
  
  .u-section-3 .u-btn-1 {
    margin: 34px auto 0 26px;
  }
  
  .u-section-3 .u-image-2 {
    min-height: 560px;
    background-image: url("src/images/h1-p11.jpg");
    background-position: 50% 50%;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 454px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 7px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 12px;
      margin-left: 21px;
    }
  
    .u-section-3 .u-image-1 {
      width: 119px;
      margin-left: 21px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-3 .u-btn-1 {
      margin-left: 21px;
      margin-right: 21px;
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 346px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 354px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 21px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 9px;
      margin-left: 0;
    }
  
    .u-section-3 .u-image-1 {
      width: 108px;
      height: 14px;
      margin-left: 0;
    }
  
    .u-section-3 .u-btn-1 {
      margin-left: 0;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 623px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 531px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .u-section-3 .u-text-1 {
      margin-top: 17px;
      margin-right: 4px;
    }
  
    .u-section-3 .u-image-1 {
      width: 130px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-top: 30px;
      margin-right: auto;
      margin-bottom: 55px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 426px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 2px;
      padding-right: 2px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 1px;
    }
  
    .u-section-3 .u-image-1 {
      width: 127px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-right: 8px;
    }
  }.u-section-4 {
    background-image: url("src/images/c81d1bdb4c7adff693638f4d62d438ce.png");
    background-position: 50% 50%;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 942px;
  }
  
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .u-section-4 .u-layout-cell-1 {
    min-height: 882px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px 30px 0;
  }
  
  .u-section-4 .u-gallery-1 {
    height: 370px;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-gallery-inner-1 {
    grid-gap: 10px 10px;
    grid-template-columns: auto;
  }
  
  .u-section-4 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-4 .u-gallery-2 {
    height: 370px;
    margin-bottom: 0;
    margin-top: 77px;
    margin-left: 0;
  }
  
  .u-section-4 .u-gallery-inner-2 {
    grid-gap: 10px 10px;
    grid-template-columns: auto;
  }
  
  .u-section-4 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-4 .u-layout-cell-2 {
    min-height: 882px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 30px 10px;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin: 228px 0 0;
  }
  
  .u-section-4 .u-text-2 {
    line-height: 2;
    margin: 56px 0 0;
  }
  
  .u-section-4 .u-layout-cell-3 {
    min-height: 882px;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-4 .u-gallery-3 {
    height: 353px;
    width: 358px;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-gallery-inner-3 {
    grid-gap: 10px 10px;
    grid-template-columns: auto;
  }
  
  .u-section-4 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-4 .u-gallery-4 {
    height: 190px;
    width: 358px;
    margin: 19px auto 0 0;
  }
  
  .u-section-4 .u-gallery-inner-4 {
    grid-gap: 10px 10px;
    grid-template-columns: auto;
  }
  
  .u-section-4 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-4 .u-gallery-item-5 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-4 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-4 .u-gallery-5 {
    height: 225px;
    width: 358px;
    margin: 30px 11px 0 auto;
  }
  
  .u-section-4 .u-gallery-inner-5 {
    grid-gap: 10px 10px;
    grid-template-columns: auto;
  }
  
  .u-section-4 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 762px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 727px;
    }
  
    .u-section-4 .u-gallery-1 {
      height: 294px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-inner-1 {
      grid-template-columns: repeat(1, auto);
    }
  
    .u-section-4 .u-gallery-2 {
      height: 294px;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-inner-2 {
      grid-template-columns: repeat(1, auto);
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 727px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 727px;
    }
  
    .u-section-4 .u-gallery-3 {
      height: 295px;
      width: 299px;
    }
  
    .u-section-4 .u-gallery-inner-3 {
      grid-template-columns: repeat(1, auto);
    }
  
    .u-section-4 .u-gallery-4 {
      height: 159px;
      width: 299px;
    }
  
    .u-section-4 .u-gallery-inner-4 {
      grid-template-columns: repeat(1, auto);
    }
  
    .u-section-4 .u-gallery-5 {
      height: 188px;
      width: 299px;
      margin-right: 0;
    }
  
    .u-section-4 .u-gallery-inner-5 {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 380px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 557px;
    }
  
    .u-section-4 .u-gallery-1 {
      height: 211px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-2 {
      height: 211px;
      margin-left: initial;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 557px;
    }
  
    .u-section-4 .u-gallery-3 {
      height: 219px;
      width: 222px;
    }
  
    .u-section-4 .u-gallery-4 {
      height: 118px;
      width: 222px;
    }
  
    .u-section-4 .u-gallery-5 {
      height: 140px;
      width: 222px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-layout-cell-1 {
      min-height: 43px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-gallery-1 {
      height: 358px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-2 {
      height: 356px;
      margin-left: initial;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 12px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 1127px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 0;
    }
  
    .u-section-4 .u-gallery-3 {
      height: 357px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-gallery-4 {
      height: 320px;
      width: 530px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-4 .u-gallery-item-5 {
      margin-right: 0;
      margin-left: 10px;
    }
  
    .u-section-4 .u-gallery-5 {
      height: 341px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-layout-cell-1 {
      min-height: 47px;
    }
  
    .u-section-4 .u-gallery-1 {
      height: 220px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-2 {
      height: 219px;
      margin-left: initial;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 19px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 33px;
    }
  
    .u-section-4 .u-gallery-3 {
      height: 219px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-gallery-4 {
      height: 205px;
      width: 340px;
    }
  
    .u-section-4 .u-gallery-item-5 {
      margin-left: 0;
    }
  
    .u-section-4 .u-gallery-5 {
      height: 140px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  }.u-section-5 {
    background-image: url("src/images/c81d1bdb4c7adff693638f4d62d438ce.png");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 1188px;
  }
  
  .u-section-5 .u-group-1 {
    width: 990px;
    min-height: 161px;
    margin: 56px auto 0 62px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin: 15px 20px 0;
  }
  
  .u-section-5 .u-image-1 {
    width: 192px;
    height: 10px;
    margin: 24px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    margin: 20px 20px 15px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 0;
  }
  
  .u-section-5 .u-image-2 {
    background-image: url("src/images/progresivas.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-2 {
    background-image: none;
    min-height: 73px;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-3 {
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-image-3 {
    background-image: url("src/images/Orto-K.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-4 {
    background-image: none;
    min-height: 73px;
  }
  
  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-4 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.5rem;
    font-family: Roboto,sans-serif  !important;
    color: rgb(17, 17, 17);
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-image-4 {
    background-image: url("src/images/contacto.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-6 {
    min-height: 73px;
    background-image: none;
  }
  
  .u-section-5 .u-container-layout-7 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-5 {
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-layout-wrap-2 {
    width: 1140px;
    margin: 30px auto 0;
  }
  
  .u-section-5 .u-image-5 {
    background-image: url("src/images/revisiones-optometricas1.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-8 {
    background-image: none;
    min-height: 73px;
  }
  
  .u-section-5 .u-container-layout-9 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-6 {
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-image-6 {
    background-image: url("src/images/gafas-de-sol.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-10 {
    background-image: none;
    min-height: 73px;
  }
  
  .u-section-5 .u-container-layout-11 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-7 {
    font-weight: 400;
    line-height: 1.2;
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    font-family: Roboto,sans-serif  !important;
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-image-7 {
    background-image: url("src/images/otros-servicios1.jpg");
    min-height: 320px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-12 {
    min-height: 73px;
    background-image: none;
  }
  
  .u-section-5 .u-container-layout-13 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-8 {
    margin: 20px 20px 0;
  }
  
  .u-section-5 .u-text-9 {
    margin: 30px auto 47px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1050px;
    }
  
    .u-section-5 .u-group-1 {
      width: 816px;
      margin-left: 51px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-1 {
      width: 158px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-2 {
      min-height: 271px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 147px;
    }
  
    .u-section-5 .u-text-3 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-3 {
      min-height: 285px;
    }
  
    .u-section-5 .u-layout-cell-4 {
      min-height: 133px;
    }
  
    .u-section-5 .u-text-4 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-4 {
      min-height: 271px;
    }
  
    .u-section-5 .u-layout-cell-6 {
      min-height: 147px;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-5 .u-layout-wrap-2 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-5 {
      min-height: 271px;
    }
  
    .u-section-5 .u-layout-cell-8 {
      min-height: 147px;
    }
  
    .u-section-5 .u-text-6 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-6 {
      min-height: 285px;
    }
  
    .u-section-5 .u-layout-cell-10 {
      min-height: 133px;
    }
  
    .u-section-5 .u-text-7 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-7 {
      min-height: 271px;
    }
  
    .u-section-5 .u-layout-cell-12 {
      min-height: 147px;
    }
  
    .u-section-5 .u-text-8 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1712px;
    }
  
    .u-section-5 .u-group-1 {
      width: 625px;
      min-height: 186px;
      margin-left: 39px;
    }
  
    .u-section-5 .u-image-1 {
      width: 157px;
      height: 15px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      min-height: 618px;
      width: 720px;
    }
  
    .u-section-5 .u-image-2 {
      min-height: 311px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: NaNpx;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-image-3 {
      min-height: 328px;
    }
  
    .u-section-5 .u-layout-cell-4 {
      min-height: NaNpx;
    }
  
    .u-section-5 .u-text-4 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-image-4 {
      min-height: 622px;
    }
  
    .u-section-5 .u-layout-cell-6 {
      min-height: NaNpx;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-layout-wrap-2 {
      min-height: 618px;
      width: 720px;
    }
  
    .u-section-5 .u-image-5 {
      min-height: 400px;
    }
  
    .u-section-5 .u-layout-cell-8 {
      min-height: 69px;
    }
  
    .u-section-5 .u-text-6 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-image-6 {
      min-height: 400px;
    }
  
    .u-section-5 .u-layout-cell-10 {
      min-height: 69px;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-image-7 {
      min-height: 400px;
    }
  
    .u-section-5 .u-layout-cell-12 {
      min-height: 138px;
    }
  
    .u-section-5 .u-text-8 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-group-1 {
      width: 511px;
      margin-left: 29px;
    }
  
    .u-section-5 .u-image-1 {
      width: 155px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-5 .u-image-2 {
      min-height: 467px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 78px;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-image-3 {
      min-height: 492px;
    }
  
    .u-section-5 .u-layout-cell-4 {
      min-height: 81px;
    }
  
    .u-section-5 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-image-4 {
      min-height: 467px;
    }
  
    .u-section-5 .u-layout-cell-6 {
      min-height: 78px;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-layout-wrap-2 {
      width: 540px;
      margin-top: 0;
    }
  
    .u-section-5 .u-layout-cell-8 {
      min-height: 80px;
    }
  
    .u-section-5 .u-text-6 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-layout-cell-10 {
      min-height: 80px;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-layout-cell-12 {
      min-height: 82px;
    }
  
    .u-section-5 .u-text-8 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1374px;
    }
  
    .u-section-5 .u-group-1 {
      min-height: 226px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-5 .u-image-1 {
      width: 231px;
      height: 10px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-5 .u-image-2 {
      min-height: 294px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-image-3 {
      min-height: 310px;
    }
  
    .u-section-5 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-image-4 {
      min-height: 294px;
    }
  
    .u-section-5 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-layout-wrap-2 {
      width: 340px;
    }
  
    .u-section-5 .u-layout-cell-8 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-6 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-layout-cell-10 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-layout-cell-12 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-8 {
      margin-left: 6px;
      margin-right: 6px;
    }
  }.u-section-6 {
    min-height: 436px;
  }
  
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 auto 0 0;
  }
  
  .u-section-6 .u-layout-cell-1 {
    min-height: 436px;
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding: 30px 100px;
  }
  
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    text-transform: none;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-6 .u-image-1 {
    width: 242px;
    height: 242px;
    background-image: url("src/images/5.png");
    background-position: 50% 50%;
    margin: 30px auto 0;
  }
  
  .u-section-6 .u-layout-cell-2 {
    min-height: 436px;
  }
  
  .u-section-6 .u-container-layout-2 {
    padding: 30px 30px 30px 0;
  }
  
  .u-section-6 .u-image-2 {
    width: 376px;
    height: 376px;
    background-image: url("src/images/logo_varilux.png");
    background-position: 50% 50%;
    margin: 0 auto 0 40px;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 {
      min-height: 360px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      width: calc(((100% - 940px) / 2) + 940px);
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 360px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      background-position: 50% 50%;
      min-height: 360px;
    }
  
    .u-section-6 .u-image-2 {
      width: 448px;
      height: 448px;
      margin-left: -69px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 {
      min-height: 276px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      width: calc(((100% - 720px) / 2) + 720px);
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-right: 88px;
      padding-left: 30px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 276px;
    }
  
    .u-section-6 .u-image-2 {
      width: 364px;
      height: 364px;
      margin-left: -66px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 {
      min-height: 618px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      width: 540px;
      margin-bottom: -410px;
      margin-left: calc(((100% - 1140px) / 2) + 300px);
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 518px;
    }
  
    .u-section-6 .u-container-layout-2 {
      padding-top: 0;
      padding-right: 10px;
    }
  
    .u-section-6 .u-image-2 {
      margin-top: -48px;
      margin-left: 138px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 {
      min-height: 426px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      width: 340px;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
    }
  
    .u-section-6 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 326px;
    }
  
    .u-section-6 .u-image-2 {
      width: 330px;
      height: 330px;
      margin-top: -97px;
      margin-left: 55px;
    }
  }.u-section-7 {
    background-image: url("src/images/e097a691a963d5bcb1d23a1b4ae6dfb0.png");
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 759px;
  }
  
  .u-section-7 .u-text-1 {
    font-weight: 100;
    font-size: 1.875rem;
    width: 836px;
    text-transform: none;
    margin: 70px auto 0;
  }
  
  .u-section-7 .u-text-2 {
    margin: 26px 0 0;
  }
  
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .u-section-7 .u-layout-cell-1 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-1 {
    width: 160px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-2 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-2 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-3 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-3 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-4 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-4 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-5 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-5 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-6 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-6 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-7 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-7 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-7 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-8 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-8 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-8 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-9 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-9 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-9 {
    width: 200px;
    height: 83px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-layout-cell-10 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-10 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-10 {
    width: 200px;
    height: 83px;
    margin: 0 -32px 0 auto;
  }
  
  .u-section-7 .u-layout-cell-11 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-11 {
    padding: 30px;
  }
  
  .u-section-7 .u-layout-cell-12 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-12 {
    padding: 30px;
  }
  
  .u-section-7 .u-layout-cell-13 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-13 {
    padding: 30px;
  }
  
  .u-section-7 .u-image-11 {
    width: 200px;
    height: 83px;
    margin: 0 -32px 0 auto;
  }
  
  .u-section-7 .u-layout-cell-14 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-14 {
    padding: 30px;
  }
  
  .u-section-7 .u-layout-cell-15 {
    min-height: 143px;
  }
  
  .u-section-7 .u-container-layout-15 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-3 {
    margin: 30px 0 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 714px;
    }
  
    .u-section-7 .u-text-1 {
      margin-top: 60px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      min-height: 289px;
      margin-right: initial;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-2 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-3 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-4 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-5 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-6 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-7 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-8 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-8 {
      width: 175px;
      height: 73px;
    }
  
    .u-section-7 .u-layout-cell-9 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-9 {
      width: 128px;
      height: 53px;
    }
  
    .u-section-7 .u-layout-cell-10 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-10 {
      width: 128px;
      height: 53px;
      margin-right: 0;
    }
  
    .u-section-7 .u-layout-cell-11 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-12 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-13 {
      min-height: 118px;
    }
  
    .u-section-7 .u-image-11 {
      width: 128px;
      height: 53px;
      margin-right: 0;
    }
  
    .u-section-7 .u-layout-cell-14 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-15 {
      min-height: 118px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1234px;
    }
  
    .u-section-7 .u-text-1 {
      width: 720px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      min-height: 1234px;
      margin-right: initial;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 233px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 233px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-8 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-9 {
      min-height: 233px;
    }
  
    .u-section-7 .u-layout-cell-10 {
      min-height: 233px;
    }
  
    .u-section-7 .u-layout-cell-11 {
      min-height: 151px;
    }
  
    .u-section-7 .u-layout-cell-12 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-13 {
      min-height: 156px;
    }
  
    .u-section-7 .u-layout-cell-14 {
      min-height: 226px;
    }
  
    .u-section-7 .u-layout-cell-15 {
      min-height: 226px;
    }
  
    .u-section-7 .u-text-3 {
      margin-top: 0;
      margin-bottom: 35px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 2034px;
    }
  
    .u-section-7 .u-text-1 {
      width: 540px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      min-height: 3613px;
      margin-right: initial;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 152px;
    }
  
    .u-section-7 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 152px;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 152px;
    }
  
    .u-section-7 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-8 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-9 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-10 {
      min-height: 152px;
    }
  
    .u-section-7 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-image-10 {
      margin-right: auto;
    }
  
    .u-section-7 .u-layout-cell-11 {
      min-height: 188px;
    }
  
    .u-section-7 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-12 {
      min-height: 178px;
    }
  
    .u-section-7 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-13 {
      min-height: 153px;
    }
  
    .u-section-7 .u-container-layout-13 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-image-11 {
      margin-right: auto;
    }
  
    .u-section-7 .u-layout-cell-14 {
      min-height: 187px;
    }
  
    .u-section-7 .u-container-layout-14 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-layout-cell-15 {
      min-height: 339px;
    }
  
    .u-section-7 .u-container-layout-15 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-text-3 {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1887px;
    }
  
    .u-section-7 .u-text-1 {
      font-size: 2.25rem;
      width: 340px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      min-height: 575px;
      margin-right: initial;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 95px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 95px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 95px;
    }
  
    .u-section-7 .u-layout-cell-8 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-9 {
      min-height: 96px;
    }
  
    .u-section-7 .u-layout-cell-10 {
      min-height: 95px;
    }
  
    .u-section-7 .u-layout-cell-11 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-12 {
      min-height: 112px;
    }
  
    .u-section-7 .u-layout-cell-13 {
      min-height: 95px;
    }
  
    .u-section-7 .u-layout-cell-14 {
      min-height: 118px;
    }
  
    .u-section-7 .u-layout-cell-15 {
      min-height: 213px;
    }
  
    .u-section-7 .u-text-3 {
      margin-bottom: 26px;
    }
  }